<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.oss.rpc.mapper.OssApiMapper">
	<resultMap id="BaseResultMap" type="com.rs.oss.dao.model.OssConfig">
	<id column="id" jdbcType="VARCHAR" property="id" />
	<result column="max_size" jdbcType="BIGINT" property="maxSize" />
	<result column="cluster_name" jdbcType="VARCHAR" property="clusterName" />
	<result column="user_name" jdbcType="VARCHAR" property="userName" />
	<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
	<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
</resultMap>
	<sql id="Base_Column_List">
		id, max_size, cluster_name, user_name, gmt_create, gmt_modified
	</sql>
    <select id="selectOssConfig"   resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from oss_config

    </select>
	<!-- 缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

</mapper>